<div class="container-fluid card login-container">
  <h3 class="text-center">Create a new account</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label for="Firstname" class="form-label">Firstname</label>
    <input [(ngModel)]="registerRequest.firstName" type="text" class="form-control" id="Firstname" placeholder="Firstname">
  </div>
  <div class="mb-3">
    <label for="Lastname" class="form-label">Lastname</label>
    <input [(ngModel)]="registerRequest.lastName" type="text" class="form-control" id="Lastname" placeholder="Lastname">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label"> Email adress</label>
    <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="registerRequest.password" type="email" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="d-flex justify-content-between mn-3">
    <button (click)="register()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Create an account</em>
    </button>
    <div>
      Already have an account?&nbsp;
      <button (click)="login()" type="button" class="btn btn-link">
        Login
      </button>
    </div>
  </div>
</div>
